
.cart {
    position: relative;
   & ul {
    list-style: none;
    padding-left: 20px;
    display: none;
   }
   & title {
    font-size: 18px;
    cursor: pointer;
    z-index: 4;
   }
}


.cart.open ul {

    z-index: 5; 
    position: absolute;
    top: 15vh;
    left: -50vw;
    background-color: $wb;
    border-radius: 45px;
    min-height: 100px;
    width: 350px;
    display: block;
    text-align: center;

    
   
  }
  
  
     
  
  .card-open-title {
    color: $white;
    font-family: 'Raleway';
    font-weight: 700;
    padding: 15px;
    margin: auto;
    max-width: 270px;
    display: flex;
    justify-content: space-between;
  }
  
  
  .cartWindowLi {
    cursor: pointer;
    font-family: 'Raleway';
    font-weight: 700;
    margin: 15px auto;
    width: 270px;
    justify-content: space-between;
    display: flex;
    padding: 15px;
    border-radius: 10px;
    background-color: $white;
    transition: 0.2s;
      &:active {
        transform: scale(0.9);
      }
    }

  
  


  .deleteCartProduct {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    border-radius: 5px;
    border: 1px solid $white;
    color: $white;
    background: $wb;
    font-size: $_18px;
    padding: 15px;
    margin: 15px auto;
    transition: 0.2s;
    cursor: pointer;
    &:active {
      transform: scale(0.9);
    }
  }


.hide {
    display: none;
  }