
$_64px: 4rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_13px: 0.812rem;

$white: #fff;
$wb: linear-gradient(276deg, #360533, #a12799);
$wb_card: linear-gradient(276deg, #a12799, #ccb8c9);  



